.icon {
  --icon-size: var(--gw-icon__size, 24px);

  display: inline-flex;
  min-width: 0;
  width: var(--gw-icon__size);
  height: var(--gw-icon__size);
  align-items: center;
  justify-content: center;
}

.icon img {
  max-width: 100%;
  width: 100%;
}